sudo: required
services:
  - docker

before_install:
  - docker build -t jayeshhere/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true jayeshhere/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-1"
  app: "docker-react"
  env: "Dockerreact-env"
  bucker_name: "docker-react"
  on:
    branch: master
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
